
ul.main-menu a{
    padding:10px 7px;
    font-size:11px;
}

ul.main-menu li:first-child a{
    border-bottom:2px solid #000;
    padding:13px 12px;
    display:none;
}

#logo{
    background: url("/images/logo/hermes.jpg") left top no-repeat;
    margin-top:10px;
    padding-left:16px;
}

#site-logo a{
    height:33px;
    width:250px;
    display:block;
}

.ad-banner-728x90{
    padding:0;
}