
.block-layout-four .grid_4 p{
    font-size: 12px;
    padding: 3px;
    line-height: 1.5em;
}

.cc_message{
    width:80%;
}

.message{
    font-family: 'Open Sans', 'sans-serif';
    padding:5px 20px;
    color: #FFF;
    background:#555;
    font-size:14px;
}

.post-bio .description p {
    font-size: 12px;
    line-height: 16px;
}

.ad-banner-728x90{
    float:right;
}

.post-container img{
    margin:5px;
    border: 1px solid #000;
    border-radius:5px;
}

p.title span {
    background-color: transparent;
}

.primary-menu.light .main-menu > li > a {
    line-height: 1.2em;
    padding:0.59em 0.88em;
}

ul.main-menu a{
    height:40px;
}

.currency-conversion .text{
    margin-bottom: -10px;
    margin-top: 10px;
    color:#000;
    font-size:12px;
    font-family:'Roboto Slab', serif;
    font-weight:normal;
}

.currency-conversion button{
    margin-top: 10px;
    border-radius: 10px;
}

#currency-conversion-result{
    display:none;
}

/* natale

.natale{
    background: no-repeat fixed center top;
    padding-top:3em;
}

.natale1{
    background-image: url("/natale/sfondo1.jpg");
}

.natale2{
    background-image: url("/natale/sfondo2.jpg");
}

.natale3{
    background-image: url("/natale/sfondo3.jpg");
}

.natale4{
    background-image: url("/natale/sfondo4.jpg");
}

.natale5{
    background-image: url("/natale/sfondo5.jpg");
}

.natale6{
    background-image: url("/natale/sfondo6.jpg");
}

/* end natale */


/* body sfondo visibile */
#wrapper{
    background: transparent !important;
}

#above-the-fold{
    background: transparent;
    border-bottom:0;
    margin-top:0;
    margin-bottom:0;
}

#above-the-fold .inner-wrapper{
    background:#fff;
}

#section .inner-wrapper{
    background:#fff;
}

#header{
    background: transparent !important;
    margin-bottom:0;
}

#header .inner-wrapper{
    background:#fff;
}

#header .primary-menu{
    border:transparent;
    background:transparent;
}

#header .primary-menu .inner-wrapper{
    padding-bottom:2.5em;
}

/* end body sfondo visibile */

body{
    background:#fff;
}

