
.block-layout-four .grid_4 p{
    font-size: 12px;
    padding: 3px;
    line-height: 1.5em;
}

.cc_message{
    width:80%;
}

.message{
    font-family: 'Open Sans', 'sans-serif';
    padding:5px 20px;
    color: #FFF;
    background:#555;
    font-size:14px;
}

.post-bio .description p {
    font-size: 12px;
    line-height: 16px;
}

.ad-banner-728x90{
    float:right;
}

.post-container img{
    margin:5px;
    border: 1px solid #000;
    border-radius:5px;
}

p.title span {
    background-color: transparent;
}

.primary-menu.light .main-menu > li > a {
    line-height: 1.2em;
    padding:0.59em 0.88em;
}

ul.main-menu a{
    height:40px;
}