
.block-layout-four .grid_4 p{
    font-size: 12px;
    padding: 3px;
    line-height: 1.5em;
}

.cc_message{
    width:80%;
}

.message{
    font-family: 'Open Sans', 'sans-serif';
    padding:5px 20px;
    color: #FFF;
    background:#555;
    font-size:14px;
}

.post-bio .description p {
    font-size: 12px;
    line-height: 16px;
}