article{
    width:100%;
    float:none;
    max-width:720px;
    height:100px;
    margin:0 0 5px 0;
}

article img{
    width:150px;
    float:left;
}

article h2{
    font-weight:bold;
    height:20px;
    margin:0;
}

article div{
    font-size:10px;
    height:80px;
    overflow:auto;
}

header{
    overflow:hidden;
    height:65px;
}