/*==============================================================================
    Layout
===============================================================================*/

/* Wrapper */
#wrapper.boxed,
.inner-wrapper {
    width: 740px
}


/*==============================================================================
    Responsive menu
===============================================================================*/
ul.main-menu {
    display: none
}


/*==============================================================================
    Main
===============================================================================*/

/* Main */
#main.left,
#main.right {
    width: 520px
}


/*==============================================================================
    Sidebar
===============================================================================*/

/* Sidebar */
aside#sidebar {
    width: 160px
}


/*==============================================================================
    Grid columns
===============================================================================*/

/* Default */
.row {
    
}
.row [class^=grid_]:last-child {
    margin-right: 0
}
.row [class^=grid_] {
    display: inline;
    float: left;
    margin: 0 20px 1.5em 0
}
.grid_1 {width: 40px}
.grid_2 {width: 100px}
.grid_3 {width: 160px}
.grid_4 {width: 220px}
.grid_5 {width: 280px}
.grid_6 {width: 340px}
.grid_7 {width: 400px}
.grid_8 {width: 460px}
.grid_9 {width: 520px}
.grid_10 {width: 580px}
.grid_11 {width: 640px}
.grid_12 {width: 100%}

/* With sidebar */
#main.left .grid_1, #main.right .grid_1 {width: 25px}
#main.left .grid_2, #main.right .grid_2 {width: 70px}
#main.left .grid_3, #main.right .grid_3 {width: 115px}
#main.left .grid_4, #main.right .grid_4 {width: 160px}
#main.left .grid_5, #main.right .grid_5 {width: 205px}
#main.left .grid_6, #main.right .grid_6 {width: 250px}
#main.left .grid_7, #main.right .grid_7 {width: 295px}
#main.left .grid_8, #main.right .grid_8 {width: 340px}
#main.left .grid_9, #main.right .grid_9 {width: 385px}
#main.left .grid_10, #main.right .grid_10 {width: 430px}
#main.left .grid_11, #main.right .grid_11 {width: 475px}
#main.left .grid_12, #main.right .grid_12 {width: 100%}
