/*==============================================================================
    Layout
===============================================================================*/

/* Wrapper */
#wrapper.boxed,
.inner-wrapper {
    width: 1000px
}


/*==============================================================================
    Responsive menu
===============================================================================*/
a.responsive-menu-btn {
    display: none
}


/*==============================================================================
    Main
===============================================================================*/

/* Main */
#main.left,
#main.right {
    width: 724px
}


/*==============================================================================
    Sidebar
===============================================================================*/

/* Sidebar */
aside#sidebar {
    width: 216px
}


/*==============================================================================
    Grid columns
===============================================================================*/

/* Default */
.row {
    
}
.row [class^=grid_]:last-child {
    margin-right: 0
}
.row [class^=grid_] {
    display: inline;
    float: left;
    margin: 0 20px 1.5em 0
}
.grid_1 {width: 60px}
.grid_2 {width: 140px}
.grid_3 {width: 220px}
.grid_4 {width: 300px}
.grid_5 {width: 380px}
.grid_6 {width: 460px}
.grid_7 {width: 540px}
.grid_8 {width: 620px}
.grid_9 {width: 700px}
.grid_10 {width: 780px}
.grid_11 {width: 860px}
.grid_12 {width: 100%}

/* With sidebar */
#main.left .grid_1, #main.right .grid_1 {width: 42px}
#main.left .grid_2, #main.right .grid_2 {width: 104px}
#main.left .grid_3, #main.right .grid_3 {width: 166px}
#main.left .grid_4, #main.right .grid_4 {width: 228px}
#main.left .grid_5, #main.right .grid_5 {width: 290px}
#main.left .grid_6, #main.right .grid_6 {width: 352px}
#main.left .grid_7, #main.right .grid_7 {width: 414px}
#main.left .grid_8, #main.right .grid_8 {width: 476px}
#main.left .grid_9, #main.right .grid_9 {width: 538px}
#main.left .grid_10, #main.right .grid_10 {width: 600px}
#main.left .grid_11, #main.right .grid_11 {width: 662px}
#main.left .grid_12, #main.right .grid_12 {width: 100%}