/*

All styles for design are placed into this file.

*/

/*==============================================================================
    Header
===============================================================================*/

/* Logo */
#logo {
    margin-bottom: 4.5em
}
h1#site-logo {
    color: #fff;
}
h2#site-description {
    color: #999;
    font-size: 24px
}

/* Header */
#header {
    background-color: #2e3138;
    padding: 5em 0 0 0;
    margin-bottom: 1.5em
}


/*==============================================================================
    Main
===============================================================================*/

/* Main */
#main {}
#main.left {}
#main.right {}

/*==============================================================================
    Section
===============================================================================*/

/* Section */
section#section {}

/*==============================================================================
    Sidebar
===============================================================================*/

/* Sidebar */
aside#sidebar {}


/*==============================================================================
    Widgets
===============================================================================*/

/* Base */
.widget {
    margin-bottom: 1.5em
}

/* Title */
h3.widget-title {}

/*==============================================================================
    Footer
===============================================================================*/

/* Footer */
footer#footer {}