/*==============================================================================
    Layout
===============================================================================*/

/* Wrapper */
#wrapper.boxed,
.inner-wrapper {
    width: 100%
}


/*==============================================================================
    Responsive menu
===============================================================================*/
ul.main-menu {
    display: none
}


/*==============================================================================
    Main
===============================================================================*/

/* Main */
#main.left,
#main.right {
    margin-left: 0;
    margin-right: 0;
    width: 100%
}


/*==============================================================================
    Sidebar
===============================================================================*/

/* Sidebar */
aside#sidebar {
    margin-left: 0;
    margin-right: 0;
    width: 100%
}


/*==============================================================================
    Grid columns
===============================================================================*/
.row [class^=grid_] {
    display: block;
    width: 100%;
    margin: 0 0 1.5em 0
}